*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dm sans", sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
section{
    height: 100vh;
    scroll-snap-align: start;

}
body{
    background-color: #0c0c1d;
    color: lightgray;

}
a{
    text-decoration: none;
    color: inherit;
}

.box{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    position: absolute;
}
button{
    position: absolute;
    left: 200px;
}